body {
    background-image: url(../image/bg.png);
    margin: 0px;
    z-index: -5;
    position: relative;
    background-repeat: repeat;
}


/*Main Box*/
div#box{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;
    margin-top: 0%;
    padding-bottom: 10%;
    border-bottom: 20px solid rgb(74, 184, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    z-index: -4;
    position: relative;
}


/*header*/
div#header h1 {
    font-family: Raleway;
    font-weight: 400;
    color: rgb(152, 205, 255);
    font-size: 48px;
    margin: 0px;
    padding-top: 6%;
    padding-bottom: 0%;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88);
}
div#header h2 {
    font-family: Raleway;
    font-weight: normal;
    color: rgb(152, 205, 255);
    font-size: 32px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88);
}
div#header img {
    height: 58px;
    width: 58px;
    margin-bottom: -1%;
}


/*Menu*/
div.menu{
    background-color: rgb(74, 184, 255);
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0px;
}
.menu ul, a, li{
    font-weight: normal;
    font-family: Open Sans;
    text-decoration: none;
}
div.menu ul{
    list-style: none;
    display: inline;
}
div.menu li{
    padding-right: 10%;
    font-size: 120%;
    display: inline;
}
div.menu a{
    color: rgb(255, 255, 255);
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease-in-out 0s;
}
.current a{
    border-top: 6px solid rgba(255, 255, 255, 0.5);
}
div.menu a:hover {
        border-bottom: 4px solid rgb(255, 255, 255);
}


/*Content*/
.content {
    background-color: rgba(252, 255, 255, 0.8);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 3%;
    z-index: -1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    color: rgb(71, 71, 71);
    font-size: 18px;
    line-height: 1.5;
    font-family: Raleway;
    border-bottom: 20px solid rgb(74, 184, 255);
    position: relative;
}
.content a {
    text-decoration: none;
    color: rgb(60, 152, 212);
}
.content a:visited {
    text-decoration: none;
    color: rgb(68, 149, 175);
}
.content h1 {
    color: rgb(60, 152, 212);
    font-weight: 500;
    font-size: 44px;
}
.content h2 {
    color: rgb(60, 152, 212);
    font-weight: 500;
    font-size: 32px;
}
.content h3 {
    color: rgb(60, 152, 212);
    font-weight: 400;
    font-size: 26px;
}
.content p {
    text-indent: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.content p a {
    color: rgb(60, 152, 212);
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.content p a:hover {
    border-radius: 3px;
    text-decoration-line: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.40);
}
.content p a:active {
    border-radius: 3px;
    text-decoration-line: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(255, 255, 255);
    background-color: rgba(109, 195, 227, 1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.80);
}
.content hr {
    border: 2px solid rgb(75, 165, 249);
}
.content li {
    list-style-image: url(../image/list.png);
}
.content pre {
    border-left: 10px solid rgb(75, 165, 249);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}


/*Footer*/
div#footer{
    text-align: center;
    color:rgb(216, 247, 254);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    padding-top: 48px;
    padding-bottom: 48px;
    z-index: -10;
}
div#footer a {
    color: rgb(87, 189, 255);
    transition: all 0.3s ease-in-out 0s;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
div#footer a:hover {
    border-radius: 3px;
    text-decoration-line: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.40);
}
div#footer a:active {
    border-radius: 3px;
    text-decoration-line: none;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(255, 255, 255);
    background-color: rgba(109, 195, 227, 1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.80);
}

div#footer p{
    color: rgb(171, 171, 171);
    font-size: 10px;
}
